@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Imagem de fundo com sobreposição escura para legibilidade */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/lovable-uploads/e3f113b1-11eb-4777-bff3-164fac8b0f28.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
